# ESG Stock Selection

This project aims to build simple classification models to predict whether the U.S. stock will be added to the ESG portfolio. It is a binary classification problem where each asset has a target variable with a value of one, meaning that the stock is added to the ESG portfolio with the overall ESG score more than or equal to five and zero otherwise. 

This project is a simulation to help students understand the machine learning process widely used in the financial industries to help select the asset. The dataset contains  746 U.S. stocks that were preprocessed and merged from two sources:  
1. https://www.kaggle.com/datasets/finintelligence/nasdaq-financial-fundamentals 
2. https://www.kaggle.com/datasets/debashish311601/esg-scores-and-ratings?resource=download


The dataset contains outdated fundamental data and has not been entirely verified. Hence, using this dataset for personal academic assignments is not recommended. The information is not intended as financial advice and shall not be understood or construed as financial advice.

The process are inspired by the paper 'Heterogeneous Ensemble for ESG Ratings Prediction' by Krappel, Boggun and Borth (2021). They collected fundamental data and built ML model to predict the ESG score. https://arxiv.org/abs/2109.10085

This Jupyter notebook will outline the following processes: 
    
1. Import the data
2. Data Analysis
3. Basic Data Transformation
4. Prepare Data for Machine Learning Model
5. Basic Machine Learning Models and Evaluate Performance
6. Key takeaways

## 1. Import the data

In [1]:
# import the library that we will use for this project
# Pandas is popular Python library used in data analysis and manipulation https://pandas.pydata.org/
# Numpy is another library for working on arrays and matrices https://numpy.org/
# You will see more usecases of Pandas and Numpy in the next semester.
 
import pandas as pd
import numpy as np

In [2]:
# declare variable called FILE_NAME in capital letters 

# Usually we declare in capital letters to seprate them from other variables 
# to let reader know that we do not want to reassign the value to this variable.
# However, this approach does not actually prevent reassignment. 

FILE_NAME = 'US_Stock_ESG_and_Fundamental_seminar.csv'

In [3]:
# Read csv file to create DataFrame
# DataFrame is two-dimensional data strcutures that has columns and rows.

df = pd.read_csv(<>, index_col=0) #use the first column as the index
df.<> #show the first 5 rows of the DataFrame

,Ticker,Company Name,Country,Sector,Subsector,Environmental SCORE,Social SCORE,Governance SCORE,Assets,"Cash and Cash Equivalents, at Carrying Value",Final Revenue,Gross Profit,Income from Continuing Operations before Taxes,Operating Income (Loss),Total Equity,Total Liabilities and Equity,Net Income (Loss),"Cash and Cash Equivalents, Period Increase (Decrease)",Target
0,FLWS,"1-800-FLOWERSCOM, INC",US,Retail - Consumer Discretionary,Internet & Direct Marketing Retail,1.2,6.7,3.8,"536,570,000","61,696,000","234,207,000","96,721,000","-14,620,000","-13,236,000","249,186,000","536,570,000",NaN,NaN,1
1,SRCE,1ST SOURCE CORPORATION,US,Banks,Regional Banks,0.0,2.6,4.7,"5,245,610,000","85,227,000",NaN,NaN,"21,236,000",NaN,"649,973,000","5,245,610,000","13,818,000",NaN,0
2,TWOU,"2U, INC",US,Software & Services,Education Services,4.7,4.7,6.3,"236,718,000","186,710,000","47,444,000",NaN,NaN,"-3,446,000","196,623,000","236,718,000","-3,380,000","2,981,000",1
3,AAON,"AAON, INC",US,Building Products,Building Products,5.0,7.0,5.6,"236,669,000","17,248,000","85,422,000","25,731,000","25,731,000","16,826,000",NaN,"236,669,000","11,551,000","9,340,000",1
4,ABMD,"ABIOMED, INC",US,Health Care Equipment & Supplies,Health Care Equipment,6.5,7.6,4.9,"423,931,000","48,231,000","93,957,000",NaN,NaN,"19,813,000","368,775,000","423,931,000","10,998,000",NaN,1

In [4]:
# show the size of dataset (number of rows, number of columns)
df.shape

(746, 19)

## 2. Data Analysis

In [5]:
# Giving a summary of the dataframe
# including the index dtype and columns, non-null values and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 746 entries, 0 to 745
Data columns (total 19 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Ticker                                                 746 non-null    object
 1   Company Name                                           746 non-null    object
 2   Country                                                746 non-null    object
 3   Sector                                                 746 non-null    object
 4   Subsector                                              746 non-null    object
 5   Environmental SCORE                                    746 non-null    float64
 6   Social SCORE                                           746 non-null    float64
 7   Governance SCORE                                       746 non-null    float64
 8   Assets                                                 707 non-null    object
 9   Cash and Cash Equivalents, at Carrying Value           690 non-null    object
 10  Final Revenue                                          622 non-null    object
 11  Gross Profit                                           371 non-null    object
 12  Income from Continuing Operations before Taxes         504 non-null    object
 13  Operating Income (Loss)                                618 non-null    object
 14  Total Equity                                           674 non-null    object
 15  Total Liabilities and Equity                           706 non-null    object
 16  Net Income (Loss)                                      673 non-null    object
 17  Cash and Cash Equivalents, Period Increase (Decrease)  533 non-null    object
 18  Target                                                 746 non-null    int64
dtypes: float64(3), int64(1), object(15)
memory usage: 116.6+ KB

There are many built-in data types available in Python. You can check from this site: https://www.w3schools.com/python/python_datatypes.asp

In [6]:
# generate descriptive statistics for numeric series
df.describe()

       Environmental SCORE  Social SCORE  Governance SCORE      Target
count           746.000000    746.000000        746.000000  746.000000
mean              4.486729      4.417158          5.175201    0.474531
std               2.437189      1.325557          1.022506    0.499686
min               0.000000      0.400000          1.100000    0.000000
25%               2.700000      3.500000          4.600000    0.000000
50%               4.500000      4.200000          5.300000    0.000000
75%               6.300000      5.300000          5.900000    1.000000
max              10.000000      9.600000          7.600000    1.000000

In [7]:
# generate descriptive statistics for object (i.e., non-numeric) series
df.describe(exclude=[np.number])

,Ticker,Company Name,Country,Sector,Subsector,Assets,"Cash and Cash Equivalents, at Carrying Value",Final Revenue,Gross Profit,Income from Continuing Operations before Taxes,Operating Income (Loss),Total Equity,Total Liabilities and Equity,Net Income (Loss),"Cash and Cash Equivalents, Period Increase (Decrease)"
count,746,746,746,746,746,707,690,622,371,504,618,674,706,673,533
unique,717,746,1,61,107,681,658,584,358,489,587,653,680,639,506
top,CHTR,"1-800-FLOWERSCOM, INC",US,Banks,Biotechnology,"40,524,000,000","1,278,000,000",0,"147,447,000","8,130,000,000","302,000,000","14,756,000,000","40,524,000,000","-188,000,000","1,273,000,000"
freq,4,1,746,92,87,4,4,13,2,2,4,2,4,4,4

In [8]:
# List the columns in DataFrame
df.columns

Index(['Ticker', 'Company Name', 'Country', 'Sector', 'Subsector',
       'Environmental SCORE', 'Social SCORE', 'Governance SCORE', 'Assets',
       'Cash and Cash Equivalents, at Carrying Value', 'Final Revenue',
       'Gross Profit', 'Income from Continuing Operations before Taxes',
       'Operating Income (Loss)', 'Total Equity',
       'Total Liabilities and Equity', 'Net Income (Loss)',
       'Cash and Cash Equivalents, Period Increase (Decrease)', 'Target'],
      dtype='object')

## 3. Basic Data Transformation

f you check the result from df.info(), some columns have objects as the data type instead of the numerical type such as float or integer (int).

In [9]:
# Let's check the first row of column 'Assets'
# we can see that type(var) gives Strinng data types

print(df.Assets[0], <>(df.Assets[0]))

536,570,000 <class 'str'>

We want these values to be numerical data i.e., int

In [10]:
# Create a function that help us to convert values in the column

def convert_to_numerical(row):
    if isinstance(row, float): #if the data is None or NaN i.e., missing data
        return 0
    else:
        return int(row.replace(',','')) #replace comma symbol and convert string value to integer

In [11]:
# Using lambda to apply function accorss all rows 
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

df['Assets'] = df['Assets'].apply(lambda x: convert_to_numerical(x))
df['Cash and Cash Equivalents, at Carrying Value'] = df['Cash and Cash Equivalents, at Carrying Value'].apply(lambda x: convert_to_numerical(x))
df['Final Revenue'] = df['Final Revenue'].apply(lambda x: convert_to_numerical(x))
df['Gross Profit'] = df['Gross Profit'].apply(lambda x: convert_to_numerical(x))
df['Income from Continuing Operations before Taxes'] = df['Income from Continuing Operations before Taxes'].apply(lambda x: convert_to_numerical(x))
df['Operating Income (Loss)'] = df['Operating Income (Loss)'].apply(lambda x: convert_to_numerical(x))
df['Total Equity'] = df['Total Equity'].apply(lambda x: convert_to_numerical(x))
df['Total Liabilities and Equity'] = df['Total Liabilities and Equity'].apply(lambda x: convert_to_numerical(x))
df['Net Income (Loss)'] = df['Net Income (Loss)'].apply(lambda x: convert_to_numerical(x))
df['Cash and Cash Equivalents, Period Increase (Decrease)'] = df['Cash and Cash Equivalents, Period Increase (Decrease)'].apply(lambda x: convert_to_numerical(x))

In [12]:
# run .describe() to check the data types again
df.<>

,Environmental SCORE,Social SCORE,Governance SCORE,Assets,"Cash and Cash Equivalents, at Carrying Value",Final Revenue,Gross Profit,Income from Continuing Operations before Taxes,Operating Income (Loss),Total Equity,Total Liabilities and Equity,Net Income (Loss),"Cash and Cash Equivalents, Period Increase (Decrease)",Target
count,746.000000,746.000000,746.000000,7.460000e+02,7.460000e+02,7.460000e+02,7.460000e+02,7.460000e+02,7.460000e+02,7.460000e+02,7.460000e+02,7.460000e+02,7.460000e+02,746.000000
mean,4.486729,4.417158,5.175201,4.882145e+09,3.504475e+08,7.482987e+08,1.960701e+08,1.411989e+08,9.244080e+07,1.507457e+09,4.878131e+09,5.783097e+07,-4.376316e+07,0.474531
std,2.437189,1.325557,1.022506,1.676949e+10,1.240546e+09,3.305257e+09,1.160474e+09,9.730379e+08,6.394282e+08,7.054713e+09,1.676959e+10,4.837677e+08,7.192662e+08,0.499686
min,0.000000,0.400000,1.100000,0.000000e+00,0.000000e+00,0.000000e+00,-8.038000e+06,-2.074780e+08,-1.001000e+09,-3.667000e+09,0.000000e+00,-1.186000e+09,-1.224700e+10,0.000000
25%,2.700000,3.500000,4.600000,2.551160e+08,2.100106e+07,8.909750e+06,0.000000e+00,0.000000e+00,-2.288500e+06,8.662200e+07,2.519202e+08,-3.928750e+06,-8.436000e+06,0.000000
50%,4.500000,4.200000,5.300000,8.914490e+08,7.777750e+07,1.021125e+08,0.000000e+00,8.779000e+06,2.216358e+06,2.898155e+08,8.844245e+08,2.764000e+06,0.000000e+00,0.000000
75%,6.300000,5.300000,5.900000,3.493494e+09,1.928348e+08,3.668820e+08,6.183275e+07,4.099850e+07,2.468350e+07,8.379402e+08,3.493494e+09,1.845525e+07,4.686500e+06,1.000000
max,10.000000,9.600000,7.600000,3.052770e+11,2.151400e+10,5.055700e+10,1.992100e+10,1.992100e+10,1.398700e+10,1.304570e+11,3.052770e+11,1.051600e+10,1.549000e+09,1.000000

In [13]:
df.describe(exclude=[np.number])

       Ticker           Company Name Country Sector      Subsector
count     746                    746     746    746            746
unique    717                    746       1     61            107
top      CHTR  1-800-FLOWERSCOM, INC      US  Banks  Biotechnology
freq        4                      1     746     92             87

The machine learning model could only take the numerical form. So we could not directly use a text of Country, Sector, Subsector in the ML model.

In [14]:
# Example values of Country, Sector and Subsector column
# there are String 
print(df.Country[0], type(df.Country[0]))
print(df.Sector[0], type(df.Sector[0]))
print(df.Subsector[0], type(df.Subsector[0]))

US <class 'str'>
Retail - Consumer Discretionary <class 'str'>
Internet & Direct Marketing Retail <class 'str'>

We can use the technique called Label Encoding to convert the labels into a numeric form that the machine can read. https://www.geeksforgeeks.org/ml-label-encoding-of-datasets-in-python

The Label encoding is available in the scikit-learn library, a ML library in Python.

In [15]:
# conda install -c intel scikit-learn
from sklearn import preprocessing

In [16]:
# Encode target labels with value between 0 and n_classes-1. 
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html 
le = preprocessing.LabelEncoder()

# crate new column as a result of LabelEncoder
df['country_label'] = le.fit_transform(df['Country'])
df['sector_label'] = le.fit_transform(df['Sector'])
df['subsector_label'] = le.fit_transform(df['Subsector'])

In [17]:
df[['country_label', 'sector_label', 'subsector_label']].describe()

       country_label  sector_label  subsector_label
count          746.0    746.000000       746.000000
mean             0.0     29.422252        52.810992
std              0.0     19.063722        33.604737
min              0.0      0.000000         0.000000
25%              0.0      8.000000        16.000000
50%              0.0     26.000000        49.000000
75%              0.0     49.750000        88.000000
max              0.0     60.000000       106.000000

Tips: Another encoding method is one-hot encoding to handle Categorical data https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/?ref=lbp

#### Question: Should we keep 'country_label' column?

Answer: No, all stocks are in the US and have the same 'US' value in Country column. There is no need to have this column to train ML model.

In [18]:
# Return a Series containing counts of unique values.
# https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html 

df['Country'].value_counts()
# df.Country.value_counts()

US    746
Name: Country, dtype: int64

In [19]:
# drop unused columns -  Company Name, Country, Sector, Subsector
dropped_columns = ['Ticker', 'Company Name', 'Country', 'country_label', 'Sector', 'Subsector']

df.drop(dropped_columns, axis=1, inplace=True)
df.shape

(746, 16)

## 4. Prepare Data for Machine Learning Model

#### Target variable vs Predictor variable

- Target variable is the variable whose value is predicted by the model.
- Predictor variable is the variable used to predict the target variable.

In this project, the target variable is the 'Target' column in the DataFrame, which contains the binary value of zero and one. The value of one means that the stock has an overall ESG score greater than or equal to the median. The asset is added to the ESG portfolio.

In [20]:
# use .value_counts() to see how many stocks are classified into zero and one value in Target column
df.Target.<>

0    392
1    354
Name: Target, dtype: int64

#### Split the data

The next step is to split the dataset into training and testing dataset.
- Training dataset is used to train and fit the ML model.
- Testing data set is used to evaluate the performance of ML model.

In [21]:
# we don't need 'Target' column to be included in training dataset
X = df.drop('Target', axis=1)
y = df.Target

# train:test ratio is 80:20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=<>)

NameError: name 'train_test_split' is not defined

In [ ]:
print('The size of the training dataset: ', X_train.<>)
print('The size of the testing dataset: ', X_test.<>)

In [ ]:
print('Target count of training dataset: ', y_train.value_counts().to_dict())
print('Target count of testing dataset: ', y_test.<>)

## 5. Basic Machine Learning Models

In this project, we will use three basic machine learning models.

1. Logistics Regression
2. Decision Tree
3. Random Forest

These supervised learning models require training datasets to learn and predict the value. They are commonly used for classification problems. Some models, such as decision tree and random forest, could be used to predict a continuous value (i.e., regression problem), such as predicting the house price.

You will cover more details in the next semester.

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import tree #decision tree
from sklearn.ensemble import RandomForestClassifier

There are many matrics that we can use to measure the performance of our prediction model. We will use accuracy, a fraction of how many predictions our model got right.

In [ ]:
from sklearn.metrics import accuracy_score

def print_score(y_true, y_pred):
    print('Accuracy: ', accuracy_score(y_true, y_pred))

In [ ]:
# Logistics Regression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

y_pred = clf.predict(X_test)
print_score(y_test, y_pred)

In [ ]:
# Decision tree
clf = tree.DecisionTreeClassifier().fit(<>)
y_pred = clf.predict(<>)

print_score(<>)

In [ ]:
# Random forest
clf = RandomForestClassifier().fit(<>)
y_pred = clf.predict(<>)

print_score(<>)

#### Question: Given the accuracy, which model is the best one?

Answer:

## 6. Key takeaway

In this session, you have learned the following:

- How the industry has used a combination of the data to make a stock selection.
- The nature of the structured dataset that could be processed in the form of DataFrame.
- Basic data processing using Python programming language.
- Basic machine learning models using Python and the scikit-learn library.
- Basic machine learning performance evaluation using Accuracy as the main matric.

There is future work that you are encouraged to investigate further if you are interested in this topic:

- How could you explain the source of E, S, G and overall ESG score? There is a lack of transparency in ESG ratings, and we do not know how the agency generates these ratings.
- Further transformation of data. You can create a new column of financial ratios using the fundamental data.
- This model hasn't been validated and doesn't have optimal hyperparameters. You could split the dataset into a validation dataset to train the model and find hyperparameters.
- You can use other performance metrics, such as F1 score, recall and precision.
- There are other classification models such as Naive Bayes, support vector machine, and advanced deep learning models.
- You could find more data to improve the prediction result, such as sentiment from news and other ESG rating sources.